.carrito-item {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carrito-quantity-price {
  font-size: 0.85rem;
}

.carrito-total-price {
  font-weight: 600;
}

.carrito-empty {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
